.navbar 
    @media screen and (min-width: 1024px)
        height: 90px
        flex-direction: row
.solid
    background-color: #191B61
.active 
    border-bottom: 3px solid $s-color-pink
.navbar-nav
    height: 100vh
    display: flex
    flex-direction: column 
    align-items: center
    justify-content: center
    @media screen and (min-width: 1024px)
        height: 0
        flex-direction: row
.nav-item
    margin: 20px 0
    @media screen and (min-width: 1024px)
        margin: 0 25px