@import 'colors'
@import 'navbar'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: linear-gradient(180deg, #701353 0%, #191B61 45.31%)
    background-repeat: no-repeat
    // background-attachment: fixed
    color: #ffffff
    overflow-x: hidden

h2 
    font-weight: bold
    font-size: 24px

p 
    font-size: 1em
    font-family: 'Lato', 'sans-serif'
    text-align: justify
    text-justify: auto
.page 
    margin-top: 80px
.container-wrap
    max-width: 1100px
    margin: auto
section
    display: flex 
    justify-content: center
    flex-direction: column
    padding: 60px
.section-title
    display: flex 
    flex-direction: row
    align-items: center
    margin-bottom: 40px
.social-icons-row__icon
    font-size: 42px
    margin-top: 42px
.section-image__img
    width: 100%
.mr-icon 
    margin-right: 21px

.copyright-developer
    margin-bottom: 60px
    background-color: #0e0e0e
    @media screen and ( min-width: 1240px)
        margin-bottom: 0
.footer-buttons 
    height: 60px
.footer-buttons__iconify 
    color: $s-color-pink
.footer-buttons__text
    color: #ffffff
    font-size: 12px

.portafolio
    min-height: 100vh

