@import 'colors'
@import 'navbar'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: linear-gradient(180deg, #701353 0%, #191B61 100%)
    background-repeat: no-repeat
    background-attachment: fixed
    color: #ffffff
    overflow-x: hidden

h1 
    font-weight: bold
    font-size: 32px
    // text-transform: uppercase
    // font-family: 'Roboto Condensed', 'sans-serif'
    @media screen and (min-width: 768px)
        font-size: 48px
h2 
    font-weight: bold
    font-size: 24px
    text-transform: uppercase
h3 
    font-weight: bold
    font-size: 20px
    text-transform: uppercase

p 
    font-size: 1em
    font-family: 'Lato', 'sans-serif'
    text-align: justify
    text-justify: auto
    font-weight: 400
    @media screen and (min-width: 768px)
        font-size: 20px
        letter-spacing: 2px

.full-size
    width: 100%
    height: 100vh
.object-fit-cover
    object-fit: cover
.logo 
    width: 90px

/* HERO */
.btn
    width: 235px
    border-radius: 15px
.slogan 
    font-size: 25px
    text-align: left
    font-family: 'Roboto Condensed', 'sans-serif'
    @media screen and (min-width: 768px)
        font-size: 36px

/* PAGES */
.page 
    margin-top: 80px
.container-wrap
    max-width: 1100px
    margin: auto
section
    display: flex 
    justify-content: center
    flex-direction: column
    padding: 45px
    @media screen and (min-width: 768px)
        padding: 90px
    @media screen and (min-width: 1280px)
        padding: 120px 0
.section-title
    display: flex 
    flex-direction: row
    align-items: center
    margin-bottom: 40px

.bg-dark-blue
    background-color: darken($s-color-dark-blue, 10%)
.title-line
    height: 5px 
    background-color: $s-color-pink

.social-icons-row__icon
    font-size: 42px
    margin-top: 42px
    cursor: pointer
.section-image__img
    width: 100%
.mr-icon 
    margin-right: 21px
.section-content-row__avatar-img
    width: 160px
    text-align: center
    @media screen and (min-width: 768px)
        width: 260px
.brands
    font-size: 32px
    @media screen and (min-width: 768px)
        font-size: 50px
.wordpress-brand
    width: 32px
    @media screen and (min-width: 768px)
        width: 50px

/* FOOTER */
.copyright-developer
    margin-bottom: 60px
    background-color: #0e0e0e
    @media screen and ( min-width: 1240px)
        margin-bottom: 0
.footer-buttons 
    height: 60px
.footer-buttons__iconify 
    color: $s-color-pink
.footer-buttons__text
    color: #ffffff
    font-size: 12px

.portafolio
    min-height: 100vh

